.pinterest_steal_logo{
    font-family : 'Oswald',sans-serif;
}

.pinterest_steal_footer_service{
    font-size : .6rem;
}

.pinterest_steal_footer{
    text-align : center
}

.pinterest_steal_header{
    text-align : center; margin : 2rem 0;
}
